# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
psc
sc
scqref

# Generated
experres.h
gram.c
pvmtbl.c
pxmalloc.c
qhelp.c
statres.h
y.tab.h
